.productTile-main-container {
    background: var(--white);
    width: 100%;
    height: 420px;
    border: 1px solid var(--gray-shade-border);

    .product-details-container {
        width: 100%;
        height: 100%;
        position: relative;

        .tile-wishlist {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: lightgray;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 4%;
            right: 5%;
            cursor: pointer;
            z-index: 1;

            i {
                font-size: 18px;
                color: var(--black);
            }
        }

        .product-image {
            width: 100%;
            height: 75%;
            border: 1px solid var(--gray-shade-border);
            margin-bottom: 12px;
        }

        .product-name {
            margin: 12px 0;
            font-size: 13px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            padding-left: 12px;
        }

        .product-price {
            margin: 12px;
            font-size: 18px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 600;
            column-gap: 12px;

            .strike-price {
                font-weight: normal;
                font-size: 16px;
                font-style: italic;
                text-decoration: line-through;
                color: gray;
            }

            .discount-offer {
                font-weight: normal;
                font-size: 16px;
                color: var(--red);
            }
        }
    }
}

@media (max-width: 768px) {
    .productTile-main-container {
        height: 260px;
    }

    .productTile-main-container .product-details-container .product-name {
        font-size: 10px;
        margin: 0;
        padding: 0 !important;
        padding-left: 10px !important;
        margin-bottom: 10px;
    }

    .productTile-main-container .product-details-container .product-price {
        margin: 0;
        padding: 0 12px;
        font-size: 12px;

        .strike-price {
            font-size: 9px;
        }

        .discount-offer {
            font-size: 9px;
        }
    }

    .productTile-main-container .product-details-container .tile-wishlist {
        width: 25px;
         height: 25px;
    
        i {
            font-size: 12px;
            margin-bottom: 2px;
        }
    }
}