.shopbycategory-main-container {
    .heading-section {
        font-size: 42px;
        font-weight: 600;
        margin: 24px 0;
    }
    .shopbycategory-item {
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;

        img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }

        p {
            font-size: 18px;
            font-weight: 600;
            margin: 0;
        }
    }

    .slick-prev, .slick-next {
        width: 60px;
        height: 60px;
        background: none;
        border: 1px solid none;
        border-radius: 50%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slick-prev::before {
        color: var(--primary-blue);
        font-size: 32px;
        line-height: 2;
        opacity: 1;
    }

    .slick-next::before {
        color: var(--primary-blue);
        font-size: 32px;
        line-height: 2;
        opacity: 1;
    }
}

@media (max-width:768px) {
    .shopbycategory-main-container {
        .heading-section {
            font-size: 30px !important;
            font-weight: 600;
            margin: 24px 0;
        }

        .shopbycategory-item {
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}