.shopbygender-main-container {
    .slick-track {
        display: flex;
        column-gap: 24px;
    }

    .heading-section {
        font-size: 42px;
        font-weight: 600;
        margin: 24px 0;
    }

    img {
        width: 100%;
        height: 400px !important;
        border-radius: 10px;
        cursor: pointer;
    }
}

@media (max-width:768px) {
    .shopbygender-main-container {
    
        .heading-section {
            font-size: 30px !important;
            font-weight: 600;
            margin: 24px 0 !important;
        }
    
        img {
            width: 100%;
            height: 300px !important;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}