.navbar-main-container {
    width: 86vw;
    background: var(--white);
    height: 80px;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 4vh 6vw;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    .logo-container {
        font-size: 42px;
        font-weight: 600;
        letter-spacing: 6px;
        color: var(--primary-blue);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .navbar-category-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        .category {
            font-size: 16px;
            color: var(--black);
            cursor: pointer;
        }

        .active {
            color: var(--primary-blue) !important;
            font-weight: 600;

            &::after {
                content: '';
                display: flex;
                flex-direction: column;
                row-gap: 8px;
                width: 60%;
                height: 4px;
                border-radius: 20px;
                background: var(--primary-blue);
                margin-left: 19%;
            }

            .category {
                color: var(--primary-blue) !important;
                font-size: 20px;
            }
        }
    }

    .nav-icons-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 24px;
        column-gap: 40px;

        img {
            width: 25px;
            height: 25px;
            cursor: pointer;
            position: relative;
        }

        .cart-count {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: var(--primary-blue);
            color: var(--white);
            margin-top: -5px;
            margin-left: -6px;
            font-size: 10px;
            padding-top: 1px;
        }

        .wishlist-count {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: var(--primary-blue);
            color: var(--white);
            margin-top: -5px;
            margin-left: -6px;
            font-size: 10px;
            padding-top: 1px;
        }
    }
}

.search-popup-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .search-engine-components {
        background: var(--white);
        border-radius: 15px;
        width: 75%;
        height: 75%;
        padding: 2% 3%;

        .popupclose {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: var(--primary-blue);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 11.5%;
            right: 11.5%;
            cursor: pointer;

            i {
                color: var(--white);
                font-size: 26px;
                margin-bottom: 7px;
            }
        }

        .main-search-input {
            width: 60%;
            height: 60px;
            outline: none;
            border: 0;
            border-bottom: 1px solid var(--gray-shade-border);
            padding: 0 24px;
        }

        .mic-image {
            width: 40px;
            height: 40px;
            position: relative;
            right: 4%;
            cursor: pointer;
        }
    }
}

.mobile-navbar-main-container-top {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;

    .hamburger-menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;

        i {
            font-size: 30px;
            margin-top: -8px;
        }
    }

    .nav-bar-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 25px;
            height: 25px;
        }

        span {
            font-size: 22px;
            font-weight: bold;
            color: var(--black);
        }
    }

    .nav-icons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 18px;

        a {
            text-decoration: none;
        }

        img {
            width: 25px;
            height: 25px;
            cursor: pointer;
            position: relative;
        }

        .cart-count {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: var(--primary-blue);
            color: var(--white);
            margin-top: -5px;
            margin-left: -6px;
            font-size: 10px;
            padding-top: 1px;
        }

        .wishlist-count {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: var(--primary-blue);
            color: var(--white);
            margin-top: -5px;
            margin-left: -6px;
            font-size: 10px;
            padding-top: 1px;
        }
    }
}

.mobile-navbar-main-container-bottom {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;

    a {
        text-decoration: none;
        color: var(--black);
    }

    a.active {
        p {
            color: var(--primary-blue);
        }
    }

    .mobile-below-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 4px;

        img {
            width: 25px;
            height: 25px;
            margin-top: 8px;
        }

        i {
            font-size: 20px;
        }

        p {
            margin: 0;
            font-size: 12px;
        }
    }
}

.hamburgermenu-main-container {
    width: 200px;
    height: fit-content;
    background: var(--gray-shade);
    border: 1px solid var(--gray-shade-border);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    position: fixed;
    z-index: 2;
    top: 70px;
    left: -100%;
    transition: all 0.6s ease-in;

    .active {
        .hamburger-category {
            color: var(--primary-blue);
        }
    }

    .hamburger-category {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: var(--black);
        border: 0;
        border-bottom: 1px solid var(--gray-shade-border);
        padding: 18px 8px;
    }
}

.hamburger-active {
    left: 50%;
    transform: translateX(-50%);
}

.search-top-sellers-container {
    .heading-section {
        font-size: 20px !important;
        text-align: left;
    }

    .productTile-main-container {
        height: 310px !important;
    }

    .slick-slider, .slick-list, .slick-track {
        height: 310px !important;
    }

    .category-section-main {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        justify-content: center;
        align-items: flex-start;

        .heading {
            font-size: 18px;
            font-weight: 600;
        }
    }

    .category-section {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: fit-content;
        column-gap: 12px;

        .category {
            width: fit-content;
            height: 40px;
            border: 1px solid var(--gray-shade-border);
            background: var(--gray-shade);
            box-shadow: var(--box-shadow);
            padding: 8px 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--black);
        }
    }

    .search-related-products-container {
        .heading {
            font-size: 18px;
            font-weight: 600;
            margin: 20px 0;
            text-align: left;
        }

        .productTile-main-container {
            .product-name {
                margin: 0 12px !important;
            }
        }

        .related-products-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 24px;
        }
    }
}