.toast-message-main-container {
    border-radius: 10px;
    background: var(--white);
    box-shadow: var(--box-shadow);
    position: fixed;
    z-index: 10;
    top: 20%;
    right: -100%;
    transition: all 0.5s ease;
}

.toast-message-main-container.active {
    right: 3%;

    .progress {
        width: 100%;
    }
}

.toast-message-container {
    width: fit-content;
    height: fit-content;
    padding: 12px 24px;
    border-radius: 10px;
    background: var(--white);

    .message-div {
        display: flex;
        column-gap: 22px;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;

        .icon {
            width: 25px;
            height: 25px;
            background: var(--green);
            color: var(--white);
            border: none;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: var(--white);
                font-weight: 800;
                margin-bottom: 3px;
            }
        }
    }

    .view-cart {

        button {
            width: 100%;
            height: 35px;
            border: 1px solid var(--primary-blue);
            background: var(--light-blue-shade);
            color: var(--white);
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;
            border-radius: 10px;
            outline: none;
        }
        
    }
}

.progress {
    width: 0%;
    height: 4px;
    background: var(--green);
    transition: all 4.4s ease;
}