.footer-main-container {
    background: var(--white);
    box-shadow: var(--box-shadow);
    width: 100%;
    height: fit-content;
    padding: 24px;
    border: 1px solid var(--gray-shade-border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;

    .logo-container {
        font-size: 60px;
        font-weight: 600;
        color: var(--black);

        span {
            img {
                width: 60px;
                height: 60px;
                margin-top: -12px;
            }
        }
    }

    .footer-links-container {
        display: flex;
        column-gap: 34px;

        .footer-link {
            font-size: 16px;
            cursor: pointer;
        }
    }

    .footer-icons-container {
        display: flex;
        column-gap: 45px;

        img {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
    }

    .footer-divider {
        width: 100%;
        height: 2px;
        background: var(--black);
    }

    .copyright-container {
        font-size: 16px;
    }
}

@media (max-width:768px) {
    .footer-main-container {
        padding: 12px;
        row-gap: 24px;

        .logo-container {
            font-size: 46px;

            span {
                img {
                    width: 46px;
                    height: 46px;
                    margin-top: -12px;
                }
            }
        }
    }

    .footer-links-container {
        column-gap: 12px !important;

        .footer-link {
            font-size: 12px !important;
        }
    }

    .footer-icons-container {
        img {
            width: 30px !important;
            height: 30px !important;
        }
    }
}