.App {
  text-align: center;
  margin: 0 6vw;
  width: 86vw;

  a {
    text-decoration: none;
  }
}

.app-main-container {
  margin-top: 18vh;
  background: var(--white);
  width: 100%;
  height: fit-content;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--gray-shade-border);
  padding: 12px;
  margin-bottom: 3%;
}

.plp-main-container {
  background: var(--white);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--gray-shade-border);
  padding: 24px;
  background: var(--primary-whitesmoke);
  

  .plp-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
  }
}

.scrolltop-container {
  width: 50px;
  height: 50px;
  border: 1px solid var(--gray-shade-border);
  position: fixed;
  bottom: 6%;
  right: 1.5%;
  cursor: pointer;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .App {
    width: 100%;
    margin: 0;
  }

  .app-main-container {
    margin-top: 70px;
  }

  .plp-main-container {
    padding: 0;
  }

  .plp-product-container {
    grid-template-columns: 1fr 1fr !important;
    gap: 14px !important;
  }

  .scrolltop-container {
    width: 32px;
    height: 32px;
    bottom: 12%;
    right: 6%;
    border-radius: 50%;
  }
}