.App {
  text-align: center;
  margin: 0 6vw;
  width: 86vw;

  a {
    text-decoration: none;
  }
}

.app-main-container {
  margin-top: 18vh;
  background: var(--white);
  width: 100%;
  height: fit-content;
  box-shadow: var(--box-shadow);
}
